.ResourceList-Header {
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

.Header-OrderNumber, .Header-DateOrdered {
    width: 15%;
    max-width: 15%;
}

.Header-Customer {
    width: 17%;
    max-width: 17%;
}

.Header-Destination {
    width: 20%;
    max-width: 20%;
}

.Header-FulfillmentStatus, .Header-Amount {
    width: 10%;
    max-width: 10%;
}

.Header-Synced {
    width: 8%;
    max-width: 8%;
}

/* .Header-Row .Polaris-ResourceList-Item__CheckboxWrapper {
    visibility: hidden;
} */